test/processors/XsdInputProcessor/any.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FlexibleType">
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="TypeWithRequiredAny">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:any minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="TypeWithChoiceAny">
    <xs:choice>
      <xs:element name="option1" type="xs:string"/>
      <xs:any/>
    </xs:choice>
  </xs:complexType>
</xs:schema>

