test/processors/XsdInputProcessor/array.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/library"
           xmlns:tns="http://example.com/library"
           elementFormDefault="qualified">
  
  <!-- Complex type with repeating elements (array) -->
  <xs:complexType name="LibraryType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="book" type="tns:BookType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="BookType">
    <xs:sequence>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="author" type="xs:string"/>
      <xs:element name="isbn" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="Library" type="tns:LibraryType"/>
  
</xs:schema>

