test/processors/XsdInputProcessor/attributes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/product"
           xmlns:tns="http://example.com/product"
           elementFormDefault="qualified">
  
  <!-- Complex type with attributes -->
  <xs:complexType name="ProductType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="price" type="xs:decimal"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="category" type="xs:string" use="optional"/>
  </xs:complexType>
  
  <xs:element name="Product" type="tns:ProductType"/>
  
</xs:schema>

