test/processors/XsdInputProcessor/basic.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           targetNamespace="http://example.com/person"
           xmlns:tns="http://example.com/person"
           elementFormDefault="qualified">
  
  <!-- Root element -->
  <xs:element name="Person" type="tns:PersonType"/>
  
  <!-- Complex type for Person -->
  <xs:complexType name="PersonType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="age" type="xs:int"/>
      <xs:element name="email" type="xs:string" minOccurs="0"/>
      <xs:element name="address" type="tns:AddressType"/>
    </xs:sequence>
  </xs:complexType>
  
  <!-- Complex type for Address -->
  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element name="street" type="xs:string"/>
      <xs:element name="city" type="xs:string"/>
      <xs:element name="zipcode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>

