test/processors/XsdInputProcessor/complex-content.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- Base type -->
  <xs:complexType name="Animal">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="age" type="xs:int"/>
    </xs:sequence>
    <xs:attribute name="species" type="xs:string" use="required"/>
  </xs:complexType>

  <!-- Extension via complexContent -->
  <xs:complexType name="Dog">
    <xs:complexContent>
      <xs:extension base="Animal">
        <xs:sequence>
          <xs:element name="breed" type="xs:string"/>
          <xs:element name="trained" type="xs:boolean"/>
        </xs:sequence>
        <xs:attribute name="registrationId" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="pet" type="Dog"/>
</xs:schema>
