test/processors/XsdInputProcessor/inline-simple-type.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- Element with inline simpleType -->
  <xs:element name="Product">
    <xs:complexType>
      <xs:sequence>
        <!-- Inline simpleType on element -->
        <xs:element name="status">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="active"/>
              <xs:enumeration value="inactive"/>
              <xs:enumeration value="pending"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="sku">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[A-Z]{3}-[0-9]{4}"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="quantity" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
