test/processors/XsdInputProcessor/pattern-restrictions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- Pattern restriction -->
  <xs:simpleType name="EmailType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- minLength / maxLength restrictions -->
  <xs:simpleType name="PasswordType">
    <xs:restriction base="xs:string">
      <xs:minLength value="8"/>
      <xs:maxLength value="128"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Numeric range constraints -->
  <xs:simpleType name="PercentageType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="100"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- minLength only -->
  <xs:simpleType name="NonEmptyString">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- maxLength only -->
  <xs:simpleType name="ShortLabel">
    <xs:restriction base="xs:string">
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="email" type="EmailType"/>
  <xs:element name="password" type="PasswordType"/>
  <xs:element name="percentage" type="PercentageType"/>
</xs:schema>
